.add-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .add-form {
	width: 400px;
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-title {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .form-group {
	margin-bottom: 20px;
  }
  
  .form-group:last-child {
	margin-bottom: 0;
  }
  
  .save-btn {
	text-align: center;
  }
  
  .cancel-btn {
	text-align: center;
	margin-top: 10px;
  }
  
  /* Customize button colors */
  .success-button {
	background-color: #4caf50;
	color: #fff;
  }
  
  .error-button {
	background-color: #f44336;
	color: #fff;
  }
  
  /* Adjust button styles */
  .save-btn button,
  .cancel-btn button {
	width: 100px;
	padding: 10px;
	border: none;
	border-radius: 5px;
  }
  
  /* Adjust text field styles */
  .MuiTextField-root {
	width: 100%;
  }
  