/* Sidebar.css */
.menu-aside {
  background-color: #333;
  color: #fff;
  /* Thêm các quy tắc CSS khác theo nhu cầu của bạn */
}

.menu-link {
  color: #fff;
  text-decoration: none;
  /* Các quy tắc CSS khác cho liên kết menu */
}
